*{
    font-family: sans-serif;
    font-size: larger;
}

body{
    align-items: center;
    background-color: #c8d8d8;
    box-sizing: border-box;
    display: flex;
    height: 50vh;
    justify-content: center;
}

#calculator{
    background-color: #bbb;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(5, 1fr);
    margin: 10% 0 0 0;
    padding: 5% 3%;
}

#display{
    background-color: white;
    border: 0.2rem solid gray;
    font-size: 2rem;
    height: 3rem;
    margin: -7% 0 15% 0;
    padding: 2% 1% 0 0;
    text-align: right;
    width: 19.4rem;
}

button{
    height: 1fr;
}